In [42]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import os

In [14]:
os.getcwd()

'C:\\Users\\Praveen\\DataScience'

In [24]:
data=pd.read_csv('data.csv', nrows=100)
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [25]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count     100.000000      100.000000       100.000000     100.000000
mean    76857.907800   121807.821521    217076.582162  114691.946563
std     46641.639975    20328.214360    107789.085704   40381.409937
min         0.000000    51283.140000         0.000000   14681.400000
25%     38718.627500   114408.395225    134854.813325   82402.160808
50%     74661.715000   121904.568500    215395.598650  109543.120000
75%    120093.060000   131120.564750    304821.952500  147031.452500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [52]:
y=data['Profit']
x1=data[['R&D Spend','Marketing Spend']] 
x1.head()

   R&D Spend  Marketing Spend
0  165349.20        471784.10
1  162597.70        443898.53
2  153441.51        407934.54
3  144372.41        383199.62
4  142107.34        366168.42

In [53]:
x=sm.add_constant(x1)

In [54]:
result=sm.OLS(y,x).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.976
Model:                            OLS   Adj. R-squared:                  0.975
Method:                 Least Squares   F-statistic:                     1936.
Date:                Thu, 14 May 2020   Prob (F-statistic):           6.56e-79
Time:                        11:50:10   Log-Likelihood:                -1016.4
No. Observations:                 100   AIC:                             2039.
Df Residuals:                      97   BIC:                             2047.
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            4.698e+04   1440.164     32.618      0.000    4.41e+04    4.98e+04
R&D Spend           0.7966      0.025     31.906      0.000       0.747       0.846
Marketing Spend     0.0299      0.011      2.768      0.007       0.008       0.051
==============================================================================
Omnibus:                       47.921   Durbin-Watson:                   1.544
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              306.183
Skew:                          -1.328   Prob(JB):                     3.26e-67
Kurtosis:                      11.151   Cond. No.                     5.81e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.81e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""